# Installs

In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.8.6)
WARNING: You are using pip version 21.0.1; however, version 22.1.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Imports
import psycopg2
import pandas as pd
import string
import json
import re

In [3]:
# Allows for muliple output in one cell window
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#Allows for viewing the complete data in a single window 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
#from google.colab import drive
#drive.mount('/content/drive')

In [6]:
#Generalize the file path 
#files = "/content/drive/My Drive/Colab_Notebooks/MSDS-459"

# Ingest

In [7]:
#with open('/content/drive/My Drive/Colab_Notebooks/MSDS-459/StateFarm-edges.jl', 'r') as json_file:
with open('StateFarm-nodes-company.jl', 'r') as json_file:
  json_list = json_file
  df = pd.read_json(json_list, lines=True)
df

       type                                 name                                                url                                         attributes
0   company                       General Motors                           https://www.cadillac.com  {'founded': 'September16, 1908; 113 years ago[...
1   company                The Hertz Corporation  https://en.wikipedia.org/wiki/The_Hertz_Corpor...  {'founded': '1918; 104years ago in Chicago, Il...
2   company                             Chrysler  https://en.wikipedia.org/wiki/Enterprise_Rent-...  {'founded': 'June6, 1925; 96 years ago', 'numb...
3   company                           State Farm                         https://www.statefarm.com/  {'founded': 'June7, 1922; 99 years ago[2]', 'n...
4   company                   Berkshire Hathaway                 https://www.berkshirehathaway.com/  {'founded': '1839; 183years agoCumberland, Rho...
5   company              Progressive Corporation                       https://www.progressive.com/  {'founded': 'March10, 1937; 85 years ago', 'nu...
6   company                       Liberty Mutual                     https://www.libertymutual.com/  {'founded': 'July1, 1912; 109 years ago (as Ma...
7   company                             Allstate                          https://www.allstate.com/  {'founded': 'April17, 1931; 91 years ago[1]', ...
8   company              The Travelers Companies                         https://www.travelers.com/  {'founded': '1853; 169years ago (as St. Paul F...
9   company                                 USAA                             https://www.usaa.com/   {'founded': 'June20, 1922; 99 years ago', 'num...
10  company              Farmers Insurance Group                           https://www.farmers.com/  {'founded': '1928; 94years agoLos Angeles,[2] ...
11  company  Nationwide Mutual Insurance Company                         https://www.nationwide.com  {'founded': '1926; 96years ago', 'numberEmploy...
12  company         American International Group                       https://www.aig.com/business  {'founded': 'December19, 1919; 102 years ago[1...
13  company               Zurich Insurance Group                             https://www.zurich.com  {'founded': '1872; 150years ago', 'numberEmplo...
14  company                         The Hartford                        https://www.thehartford.com  {'founded': '1810; 212years ago', 'numberEmplo...
15  company            American Family Insurance                           https://www.assurant.com  {'founded': '1927; 95years ago', 'numberEmploy...
16  company                             Assurant                      https://www.erieinsurance.com  {'founded': '1892; 130years ago', 'numberEmplo...
17  company                 Erie Insurance Group                      https://www.lemonade.com/?f=1  {'founded': 'April20, 1925; 96 years ago', 'nu...
18  company                           Root, Inc.                          https://www.joinroot.com/  {'founded': 'March2015', 'numberEmployees': '1...
19  company                       Lemonade, Inc.                          https://milestoneins.net/  {'founded': 'April2015; 7years ago', 'numberEm...
20  company                       General Motors                           https://www.cadillac.com  {'founded': 'September16, 1908; 113 years ago[...
21  company                The Hertz Corporation  https://en.wikipedia.org/wiki/The_Hertz_Corpor...  {'founded': '1918; 104years ago in Chicago, Il...
22  company                             Chrysler             https://en.wikipedia.org/wiki/Chrysler  {'founded': 'June6, 1925; 96 years ago', 'numb...
23  company                           State Farm                         https://www.statefarm.com/  {'founded': 'June7, 1922; 99 years ago[2]', 'n...
24  company                   Berkshire Hathaway                 https://www.berkshirehathaway.com/  {'founded': '1839; 183years agoCumberland, Rho...
25  company              Progressive Corporation                       https://www.progressive.com/  {'founded': 'March10, 1937; 85 years ago', 'nu...
26  company                       Liberty Mutual                     https://www.libertymutual.com/  {'founded': 'July1, 1912; 109 years ago (as Ma...
27  company                             Allstate                          https://www.allstate.com/  {'founded': 'April17, 1931; 91 years ago[1]', ...
28  company              The Travelers Companies                         https://www.travelers.com/  {'founded': '1853; 169years ago (as St. Paul F...
29  company                                 USAA                             https://www.usaa.com/   {'founded': 'June20, 1922; 99 years ago', 'num...
30  company              Farmers Insurance Group                           https://www.farmers.com/  {'founded': '1928; 94years agoLos Angeles,[2] ...
31  company  Nationwide Mutual Insurance Company                         https://www.nationwide.com  {'founded': '1926; 96years ago', 'numberEmploy...
32  company         American International Group                       https://www.aig.com/business  {'founded': 'December19, 1919; 102 years ago[1...
33  company               Zurich Insurance Group                             https://www.zurich.com  {'founded': '1872; 150years ago', 'numberEmplo...
34  company                         The Hartford                        https://www.thehartford.com  {'founded': '1810; 212years ago', 'numberEmplo...
35  company            American Family Insurance                           https://www.assurant.com  {'founded': '1927; 95years ago', 'numberEmploy...
36  company                             Assurant  https://www.erieinsurance.comhttps://www.fairf...  {'founded': '1892; 130years ago', 'numberEmplo...
37  company                 Erie Insurance Group                            https://www.berkley.com  {'founded': 'April20, 1925; 96 years ago', 'nu...
38  company                   Markel Corporation                            https://www.markel.com/  {'founded': '1930; 92years ago', 'numberEmploy...
39  company                                  Axa                               https://www.axa.com/  {'founded': '1816; 206years ago[1]', 'numberEm...
40  company            W. R. Berkley Corporation                              https://www.amfam.com  {'founded': '1967; 55years ago', 'numberEmploy...
41  company                       Lemonade, Inc.                      https://www.lemonade.com/?f=1  {'founded': 'April2015; 7years ago', 'numberEm...
42  company                           Root, Inc.                          https://www.joinroot.com/  {'founded': 'March2015', 'numberEmployees': '1...
43  company                       General Motors                           https://www.cadillac.com  {'founded': 'September16, 1908; 113 years ago[...
44  company                The Hertz Corporation  https://en.wikipedia.org/wiki/The_Hertz_Corpor...  {'founded': '1918; 104years ago in Chicago, Il...
45  company                             Chrysler             https://en.wikipedia.org/wiki/Chrysler  {'founded': 'June6, 1925; 96 years ago', 'numb...
46  company                           State Farm                         https://www.statefarm.com/  {'founded': 'June7, 1922; 99 years ago[2]', 'n...
47  company                   Berkshire Hathaway                 https://www.berkshirehathaway.com/  {'founded': '1839; 183years agoCumberland, Rho...
48  company              Progressive Corporation                       https://www.progressive.com/  {'founded': 'March10, 1937; 85 years ago', 'nu...
49  company                       Liberty Mutual                     https://www.libertymutual.com/  {'founded': 'July1, 1912; 109 years ago (as Ma...
50  company                             Allstate                          https://www.allstate.com/  {'founded': 'April17, 1931; 91 years ago[1]', ...
51  company              The Travelers Companies                         https://www.travelers.com/  {'founded': '1853; 169years ago (as St. Paul F...
52  company                                 USAA                             https://www.usaa.com/   {'founded': 'June20, 1922; 99 years ago', 'num...
53  company              Farmers Insurance Group                           https://www.farmers.com/  {'founded': '1928; 94years agoLos Angeles,[2] ...
54  company  Nationwide Mutual Insurance Company                         https://www.nationwide.com  {'founded': '1926; 96years ago', 'numberEmploy...
55  company         American International Group                       https://www.aig.com/business  {'founded': 'December19, 1919; 102 years ago[1...
56  company               Zurich Insurance Group                             https://www.zurich.com  {'founded': '1872; 150years ago', 'numberEmplo...
57  company                         The Hartford                        https://www.thehartford.com  {'founded': '1810; 212years ago', 'numberEmplo...
58  company            American Family Insurance                           https://www.assurant.com  {'founded': '1927; 95years ago', 'numberEmploy...
59  company                    Fairfax Financial  https://www.erieinsurance.comhttps://www.fairf...  {'founded': '1951; 71years ago (as Markel Serv...
60  company            W. R. Berkley Corporation                            https://www.berkley.com  {'founded': '1967; 55years ago', 'numberEmploy...
61  company                   Markel Corporation                            https://www.markel.com/  {'founded': '1930; 92years ago', 'numberEmploy...
62  company                                  Axa                               https://www.axa.com/  {'founded': '1816; 206years ago[1]', 'numberEm...
63  company            American Family Insurance                              https://www.amfam.com  {'founded': '1927; 95years ago', 'numberEmploy...
64  company                       Lemonade, Inc.                      https://www.lemonade.com/?f=1  {'founded': 'April2015; 7years ago', 'numberEm...
65  company                           Root, Inc.                          https://www.joinroot.com/  {'founded': 'March2015', 'numberEmployees': '1...
66  company                            Munich Re            https://en.wikipedia.org/wiki/Munich_Re  {'founded': '3April 1880; 142 years ago[2]', '...
67  company                             Swiss Re             https://en.wikipedia.org/wiki/Swiss_Re  {'founded': '19December 1863; 158 years ago', ...
68  company                          Hannover Re          https://en.wikipedia.org/wiki/Hannover_Re  {'founded': '1966; 56years ago', 'numberEmploy...
69  company                       General Motors                           https://www.cadillac.com  {'founded': 'September16, 1908; 113 years ago[...
70  company                The Hertz Corporation  https://en.wikipedia.org/wiki/The_Hertz_Corpor...  {'founded': '1918; 104years ago in Chicago, Il...
71  company                             Chrysler             https://en.wikipedia.org/wiki/Chrysler  {'founded': 'June6, 1925; 96 years ago', 'numb...
72  company                           State Farm                         https://www.statefarm.com/  {'founded': 'June7, 1922; 99 years ago[2]', 'n...
73  company                   Berkshire Hathaway                 https://www.berkshirehathaway.com/  {'founded': '1839; 183years agoCumberland, Rho...
74  company              Progressive Corporation                       https://www.progressive.com/  {'founded': 'March10, 1937; 85 years ago', 'nu...
75  company                       Liberty Mutual                     https://www.libertymutual.com/  {'founded': 'July1, 1912; 109 years ago (as Ma...
76  company                             Allstate                          https://www.allstate.com/  {'founded': 'April17, 1931; 91 years ago[1]', ...
77  company              The Travelers Companies                         https://www.travelers.com/  {'founded': '1853; 169years ago (as St. Paul F...
78  company                                 USAA                             https://www.usaa.com/   {'founded': 'June20, 1922; 99 years ago', 'num...
79  company              Farmers Insurance Group                           https://www.farmers.com/  {'founded': '1928; 94years agoLos Angeles,[2] ...
80  company  Nationwide Mutual Insurance Company                         https://www.nationwide.com  {'founded': '1926; 96years ago', 'numberEmploy...
81  company         American International Group                       https://www.aig.com/business  {'founded': 'December19, 1919; 102 years ago[1...
82  company               Zurich Insurance Group                             https://www.zurich.com  {'founded': '1872; 150years ago', 'numberEmplo...
83  company                         The Hartford                        https://www.thehartford.com  {'founded': '1810; 212years ago', 'numberEmplo...
84  company                             Assurant                           https://www.assurant.com  {'founded': '1892; 130years ago', 'numberEmplo...
85  company                 Erie Insurance Group                      https://www.erieinsurance.com  {'founded': 'April20, 1925; 96 years ago', 'nu...
86  company                    Fairfax Financial                            https://www.fairfax.ca/  {'founded': '1951; 71years ago (as Markel Serv...
87  company            W. R. Berkley Corporation                            https://www.berkley.com  {'founded': '1967; 55years ago', 'numberEmploy...
88  company                   Markel Corporation                            https://www.markel.com/  {'founded': '1930; 92years ago', 'numberEmploy...
89  company                                  Axa                               https://www.axa.com/  {'founded': '1816; 206years ago[1]', 'numberEm...
90  company            American Family Insurance                              https://www.amfam.com  {'founded': '1927; 95years ago', 'numberEmploy...
91  company                       Lemonade, Inc.                      https://www.lemonade.com/?f=1  {'founded': 'April2015; 7years ago', 'numberEm...
92  company                           Root, Inc.                          https://www.joinroot.com/  {'founded': 'March2015', 'numberEmployees': '1...
93  company                            Munich Re            https://en.wikipedia.org/wiki/Munich_Re  {'founded': '3April 1880; 142 years ago[2]', '...
94  company                             Swiss Re             https://en.wikipedia.org/wiki/Swiss_Re  {'founded': '19December 1863; 158 years ago', ...
95  company                          Hannover Re          https://en.wikipedia.org/wiki/Hannover_Re  {'founded': '1966; 56years ago', 'numberEmploy...

In [8]:
df.dtypes

type          object
name          object
url           object
attributes    object
dtype: object

In [9]:
# this did not make a difference - needs escape charater if you want to keep punct
df['type'] = df['type'].astype('string')
df['name'] = df['name'].astype('string')
df['url'] = df['url'].astype('string')
df['attributes'] = df['attributes'].astype('string')

In [10]:
#with open('Statefarm-nodes-other.jl', 'r') as json_file:
with open('StateFarm-nodes-other.jl', 'r') as json_file:
    json_list = json_file
    other_df = pd.read_json(json_list, lines=True)
other_df
other_df.iloc[0][0]
len(other_df)

        type                                name                                         attributes
0   industry                 Automotive industry  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
1   industry              Car rental and leasing  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
2   industry                          Automotive  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
3   industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
4   industry                        Conglomerate  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
5   industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
6   industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
7   industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
8   industry         InsuranceFinancial services  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
9   industry  BankingFinancial servicesInsurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
10  industry                  Financial services  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
11  industry                  Financial services  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
12  industry                  Financial services  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
13  industry                  Financial services  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
14  industry               InsuranceMutual funds  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
15  industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
16  industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
17  industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
18  industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
19  industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
20  industry                  Financial services  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
21  industry               Insurance and finance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
22  industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
23  industry                           Insurance  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
24  industry                  Financial services  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
25  industry                  Financial services  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...
26  industry                  Financial services  {'NAICScode': 524126, 'NAICStitle': 'Direct Pr...

'industry'

27

In [11]:
other_df.dtypes

type          object
name          object
attributes    object
dtype: object

# Database Connection and Load

In [12]:
pwd = 'Knowledge$41'

In [13]:
#Establish Connection to Postgres
connection = psycopg2.connect(user='pantp',host="192.46.216.236",port="5432", \
                              database='pantp', password=pwd)

In [14]:
#cur.close()
#connection.close()

In [15]:
#Create new graph 'Statefarm', execute and commit command

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT create_graph('statefarm_companies');"
cur = connection.cursor()
cur.execute(pgt)
connection.commit()

## nodes

In [16]:
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('statefarm_companies', \
$$ CREATE (:Company {url:%s,name:%s}) $$) as (n agtype);"

cur = connection.cursor()
for x in range(0, len(df)):
    name=df.iloc[x][1]
    name=name.translate(str.maketrans('','',string.punctuation))
    url=df.iloc[x][2]
    data= (url,name,)
    try:
        cur.execute(pgt, data)
        connection.commit()
    except Exception as e:
        print(e)
        pass
    

cur.close()
connection.close()

In [17]:
#articles
#Establish Connection to Postgres
connection = psycopg2.connect(user='pantp',host="192.46.216.236",port="5432", \
                              database='pantp', password=pwd)
    
# other node types
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('statefarm_companies',\
$$ CREATE (:properties {url:%s,name:%s}) $$) as (n agtype);"

cur = connection.cursor()
for x in range(0, len(other_df)):
    t=other_df.iloc[x][0]
    name=other_df.iloc[x][1]
    name=name.translate(str.maketrans('','',string.punctuation))
    #url=other_df.iloc[x][4]
    data= (url,name,)
    if t == 'industry':
        try:
            cur.execute(pgt, data)
            connection.commit()
        except Exception as e:
            print(e)
            pass
cur.close()
connection.close()

In [18]:
cur.close()
connection.close()

In [19]:
#services
#Establish Connection to Postgres
connection = psycopg2.connect(user='pantp',host="192.46.216.236",port="5432", \
                              database='pantp', password=pwd)
    
# other node types
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('Statefarm_companies', $$ CREATE (:Service {name:%s}) $$) as (n agtype);"

cur = connection.cursor()
for x in range(0, len(other_df)):
    t=other_df.iloc[x][0]
    name=other_df.iloc[x][1]
    name=name.translate(str.maketrans('','',string.punctuation))
    data= (name,)
    if t == 'service':
        try:
            cur.execute(pgt, data)
            connection.commit()
        except Exception as e:
            print(e)
            pass
cur.close()
connection.close()

In [20]:
#industries
#Establish Connection to Postgres
connection = psycopg2.connect(user='sicklerr',host="192.46.216.236",port="5432", \
                              database='sicklerr', password=pwd)
    
# other node types
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('statefarm_companies', $$ CREATE (:Industry {name:%s}) $$) as (n agtype);"

cur = connection.cursor()
for x in range(0, len(other_df)):
    t=other_df.iloc[x][0]
    name=other_df.iloc[x][1]
    name=name.translate(str.maketrans('','',string.punctuation))
    data= (name,)
    if t == 'industry':
        try:
            cur.execute(pgt, data)
            connection.commit()
        except Exception as e:
            print(e)
            pass
cur.close()
connection.close()

graph "statefarm_companies" does not exist
LINE 1: ... SET search_path=ag_catalog; SELECT * FROM cypher('statefarm...
                                                             ^

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

## edges

In [21]:
with open('StateFarm-edges.jl', 'r') as json_file:
    json_list = json_file
    edge_df = pd.read_json(json_list, lines=True)
edge_df

                                company               relation      service                            industry   company1                             company2
0                             StateFarm                  sells  advertising                                 NaN        NaN                                  NaN
1                             StateFarm                  sells  advertising                                 NaN        NaN                                  NaN
2                        General Motors                  is_in          NaN                 Automotive industry        NaN                                  NaN
3                        General Motors                   buys  advertising                                 NaN        NaN                                  NaN
4                 The Hertz Corporation                  is_in          NaN              Car rental and leasing        NaN                                  NaN
5                 The Hertz Corporation                   buys  advertising                                 NaN        NaN                                  NaN
6                              Chrysler                  is_in          NaN                          Automotive        NaN                                  NaN
7                              Chrysler                   buys  advertising                                 NaN        NaN                                  NaN
8                            State Farm                  is_in          NaN                           Insurance        NaN                                  NaN
9                                   NaN          competes_with          NaN                                 NaN  StateFarm                           State Farm
10                   Berkshire Hathaway                  is_in          NaN                        Conglomerate        NaN                                  NaN
11                                  NaN          competes_with          NaN                                 NaN  StateFarm                   Berkshire Hathaway
12              Progressive Corporation                  is_in          NaN                           Insurance        NaN                                  NaN
13                                  NaN          competes_with          NaN                                 NaN  StateFarm              Progressive Corporation
14                       Liberty Mutual                  is_in          NaN                           Insurance        NaN                                  NaN
15                                  NaN          competes_with          NaN                                 NaN  StateFarm                       Liberty Mutual
16                             Allstate                  is_in          NaN                           Insurance        NaN                                  NaN
17                                  NaN          competes_with          NaN                                 NaN  StateFarm                             Allstate
18              The Travelers Companies                  is_in          NaN         InsuranceFinancial services        NaN                                  NaN
19                                  NaN          competes_with          NaN                                 NaN  StateFarm              The Travelers Companies
20                                 USAA                  is_in          NaN  BankingFinancial servicesInsurance        NaN                                  NaN
21                                  NaN          competes_with          NaN                                 NaN  StateFarm                                 USAA
22              Farmers Insurance Group                  is_in          NaN                  Financial services        NaN                                  NaN
23                                  NaN          competes_with          NaN                                 NaN  StateFarm              Farmers Insurance Group
24  Nationwide Mutual Insurance Company                  is_in          NaN                  Financial services        NaN                                  NaN
25                                  NaN          competes_with          NaN                                 NaN  StateFarm  Nationwide Mutual Insurance Company
26         American International Group                  is_in          NaN                  Financial services        NaN                                  NaN
27                                  NaN          competes_with          NaN                                 NaN  StateFarm         American International Group
28               Zurich Insurance Group                  is_in          NaN                  Financial services        NaN                                  NaN
29                                  NaN          competes_with          NaN                                 NaN  StateFarm               Zurich Insurance Group
30                         The Hartford                  is_in          NaN               InsuranceMutual funds        NaN                                  NaN
31                                  NaN          competes_with          NaN                                 NaN  StateFarm                         The Hartford
32                             Assurant                  is_in          NaN                           Insurance        NaN                                  NaN
33                                  NaN          competes_with          NaN                                 NaN  StateFarm                             Assurant
34                 Erie Insurance Group                  is_in          NaN                           Insurance        NaN                                  NaN
35                                  NaN          competes_with          NaN                                 NaN  StateFarm                 Erie Insurance Group
36                    Fairfax Financial                  is_in          NaN                           Insurance        NaN                                  NaN
37                                  NaN          competes_with          NaN                                 NaN  StateFarm                    Fairfax Financial
38            W. R. Berkley Corporation                  is_in          NaN                           Insurance        NaN                                  NaN
39                                  NaN          competes_with          NaN                                 NaN  StateFarm            W. R. Berkley Corporation
40                   Markel Corporation                  is_in          NaN                           Insurance        NaN                                  NaN
41                                  NaN          competes_with          NaN                                 NaN  StateFarm                   Markel Corporation
42                                  Axa                  is_in          NaN                  Financial services        NaN                                  NaN
43                                  NaN          competes_with          NaN                                 NaN  StateFarm                                  Axa
44            American Family Insurance                  is_in          NaN               Insurance and finance        NaN                                  NaN
45                                  NaN          competes_with          NaN                                 NaN  StateFarm            American Family Insurance
46                       Lemonade, Inc.                  is_in          NaN                           Insurance        NaN                                  NaN
47                                  NaN  has_potential_entrant          NaN                                 NaN  StateFarm                       Lemonade, Inc.
48                           Root, Inc.                  is_in          NaN                           Insurance        NaN                                  NaN
49                                  NaN  has_potential_entrant          NaN                                 NaN  StateFarm                           Root, Inc.
50                            Munich Re                  is_in          NaN                  Financial services        NaN                                  NaN
51                             Swiss Re                  is_in          NaN                  Financial services        NaN                                  NaN
52                          Hannover Re                  is_in          NaN                  Financial services        NaN                                  NaN

In [22]:
edge_df.dtypes

company     object
relation    object
service     object
industry    object
company1    object
company2    object
dtype: object

In [23]:
company=edge_df.iloc[x][0]
company

'American International Group'

In [24]:
edge_df['company'] = edge_df['company'].astype('string')
edge_df['relation'] = edge_df['relation'].astype('string')
edge_df['service'] = edge_df['service'].astype('string')
edge_df['industry'] = edge_df['industry'].astype('string')
edge_df['company1'] = edge_df['company1'].astype('string')
edge_df['company2'] = edge_df['company2'].astype('string')

In [25]:
# #Note Load time may take a while
# connection = psycopg2.connect(user='pantp',host="192.46.216.236",port="5432", \
#                               database='pantp', password=pwd)

# cur = connection.cursor()
# for x in range(0, len(edge_df)):
#     company=edge_df.iloc[x][0]
#     company=company.translate(str.maketrans('','',string.punctuation))
#     data= (company,)
#     try:
#         pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
#         SELECT * FROM cypher('statefarm_companies', $$ MATCH (a:Company),\
#         (b:Company) WHERE a.name='State Farm' \
#         AND b.type='insurance company' CREATE (a)-[e:Competitor]->(b) RETURN e $$) as (e agtype);"
#         cur.execute(pgt, data)
#         connection.commit()
#     except Exception as e:
#         print(e)
#         pass

In [26]:
#sells
#Establish Connection to Postgres
connection = psycopg2.connect(user='pantp',host="192.46.216.236",port="5432", \
                              database='pantp', password=pwd)
    
# other node types
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('statefarm_companies', $$ MATCH (a:Company), (b:Service) WHERE a.name=%s \
        AND b.name=%s CREATE (a)-[e:SELLS]->(b) RETURN e $$) as (e agtype);"

cur = connection.cursor()
for x in range(0, len(edge_df)):
    t=edge_df.iloc[x][1]
    company=edge_df.iloc[x]['company']
    print(company)
    print(type(company))
    if type(company) == 'str':
        company=company.translate(str.maketrans('','',string.punctuation))
    service=edge_df.iloc[x][2]
    data= (company,service,)
    if t == 'sells':
        try:
            cur.execute(pgt, data)
            connection.commit()
        except Exception as e:
            print(e)
            pass
cur.close()
connection.close()

StateFarm
<class 'str'>
label Service does not exists
LINE 1: ...pher('statefarm_companies', $$ MATCH (a:Company), (b:Service...
                                                             ^

StateFarm
<class 'str'>
current transaction is aborted, commands ignored until end of transaction block

General Motors
<class 'str'>
General Motors
<class 'str'>
The Hertz Corporation
<class 'str'>
The Hertz Corporation
<class 'str'>
Chrysler
<class 'str'>
Chrysler
<class 'str'>
State Farm
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Berkshire Hathaway
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Progressive Corporation
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Liberty Mutual
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Allstate
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
The Travelers Companies
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
USAA
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Farmers Insurance Group
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Nationwide Mutual Insurance Company
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
American International Group
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Zurich Insurance Group
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
The Hartford
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Assurant
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Erie Insurance Group
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Fairfax Financial
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
W. R. Berkley Corporation
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Markel Corporation
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Axa
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
American Family Insurance
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Lemonade, Inc.
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Root, Inc.
<class 'str'>
<NA>
<class 'pandas._libs.missing.NAType'>
Munich Re
<class 'str'>
Swiss Re
<class 'str'>
Hannover Re
<class 'str'>

In [27]:
#buys
#Establish Connection to Postgres
connection = psycopg2.connect(user='pantp',host="192.46.216.236",port="5432", \
                              database='pantp', password=pwd)
    
# other node types
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('statefarm_companies', $$ MATCH (a:Company), (b:relation) WHERE a.name=%s \
        AND b.name=%s CREATE (a)-[e:BUYS]->(b) RETURN e $$) as (e agtype);"

cur = connection.cursor()
for x in range(0, len(edge_df)):
    t=edge_df.iloc[x][1]
    company=edge_df.iloc[x]['company']
    if t == 'buys':
        company=company.translate(str.maketrans('','',string.punctuation))
    service=edge_df.iloc[x][2]
    data= (company,service,)
    if t == 'buys':
        try:
            cur.execute(pgt, data)
            connection.commit()
        except Exception as e:
            print(e)
            pass
cur.close()
connection.close()

label relation does not exists
LINE 1: ...pher('statefarm_companies', $$ MATCH (a:Company), (b:relatio...
                                                             ^

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

In [28]:
#is_in
#Establish Connection to Postgres
connection = psycopg2.connect(user='sicklerr',host="192.46.216.236",port="5432", \
                              database='sicklerr', password=pwd)
    
# other node types
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('statefarm_companies', $$ MATCH (a:Company), (b:Industry) WHERE a.name=%s \
        AND b.name=%s CREATE (a)-[e:ISIN]->(b) RETURN e $$) as (e agtype);"

cur = connection.cursor()
for x in range(0, len(edge_df)):
    t=edge_df.iloc[x][1]
    if t == 'is_in':
        company=edge_df.iloc[x]['company']
#         print(company)
#         print(type(company))
        company=company.translate(str.maketrans('','',string.punctuation))
        industry=edge_df.iloc[x]['industry']
        industry=industry.translate(str.maketrans('','',string.punctuation))
        data= (company,industry,)
    if t == 'is_in':
        try:
            cur.execute(pgt, data)
            connection.commit()
        except Exception as e:
            print(e)
            pass
cur.close()
connection.close()

graph "statefarm_companies" does not exist
LINE 1: ... SET search_path=ag_catalog; SELECT * FROM cypher('statefarm...
                                                             ^

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

current transaction is aborted, commands ignored until end of transaction block

In [29]:
#has_article
#Establish Connection to Postgres
connection = psycopg2.connect(user='sicklerr',host="192.46.216.236",port="5432", \
                              database='sicklerr', password=pwd)
    
# other node types
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('statefarm_companies', $$ MATCH (a:Company), (b:Article) WHERE a.name=%s \
        AND b.name=%s CREATE (a)-[e:HASARTICLE]->(b) RETURN e $$) as (e agtype);"

cur = connection.cursor()
for x in range(0, len(edge_df)):
    t=edge_df.iloc[x][1]
    if t == 'has_article':
        company=edge_df.iloc[x]['company']
#         print(company)
#         print(type(company))
        company=company.translate(str.maketrans('','',string.punctuation))
        article=edge_df.iloc[x]['article']
        article=article.translate(str.maketrans('','',string.punctuation))
        data= (company,article,)
    if t == 'has_article':
        try:
            cur.execute(pgt, data)
            connection.commit()
        except Exception as e:
            print(e)
            pass
cur.close()
connection.close()

In [30]:
#has_potential_entrant
#Establish Connection to Postgres
connection = psycopg2.connect(user='sicklerr',host="192.46.216.236",port="5432", \
                              database='sicklerr', password=pwd)
    
# other node types
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('statefarm_companies', $$ MATCH (a:Company), (b:Company) WHERE a.name=%s \
        AND b.name=%s CREATE (a)-[e:competes_with]->(b) RETURN e $$) as (e agtype);"

cur = connection.cursor()
for x in range(0, len(edge_df)):
    t=edge_df.iloc[x][1]
    if t == 'has_potential_entrant':
        company1=edge_df.iloc[x]['company1']
#         print(company)
#         print(type(company))
        company1=company1.translate(str.maketrans('','',string.punctuation))
        company2=edge_df.iloc[x]['company2']
        company2=company2.translate(str.maketrans('','',string.punctuation))
        data= (company1,company2,)
    if t == 'has_potential_entrant':
        try:
            cur.execute(pgt, data)
            connection.commit()
        except Exception as e:
            print(e)
            pass
cur.close()
connection.close()

graph "statefarm_companies" does not exist
LINE 1: ... SET search_path=ag_catalog; SELECT * FROM cypher('statefarm...
                                                             ^

current transaction is aborted, commands ignored until end of transaction block

In [31]:
#has_substitute
#Establish Connection to Postgres
connection = psycopg2.connect(user='sicklerr',host="192.46.216.236",port="5432", \
                              database='sicklerr', password=pwd)
    
# other node types
#Note Load time may take a while

pgt="LOAD '$libdir/plugins/age'; SET search_path=ag_catalog; \
SELECT * FROM cypher('statefarm_companies', $$ MATCH (a:Company), (b:Company) WHERE a.name=%s \
        AND b.name=%s CREATE (a)-[e:HASSUBSTITUTE]->(b) RETURN e $$) as (e agtype);"

cur = connection.cursor()
for x in range(0, len(edge_df)):
    t=edge_df.iloc[x][1]
    if t == 'has_substitute':
        company1=edge_df.iloc[x]['company1']
#         print(company)
#         print(type(company))
        company1=company1.translate(str.maketrans('','',string.punctuation))
        company2=edge_df.iloc[x]['company2']
        company2=company2.translate(str.maketrans('','',string.punctuation))
        data= (company1,company2,)
    if t == 'has_substitute':
        try:
            cur.execute(pgt, data)
            connection.commit()
        except Exception as e:
            print(e)
            pass
cur.close()
connection.close()

# Check the write

In [32]:
#Establish Connection to Postgres
connection = psycopg2.connect(user='pantp',host="192.46.216.236",port="5432", \
                              database='pantp', password=pwd)

cur = connection.cursor()

pgt="LOAD '$libdir/plugins/age'; \
SET search_path=ag_catalog; select * from cypher('statefarm_companies', $$ MATCH \
(a)-[r]->(b) RETURN a.name, r, b.name $$) as (name agtype, label agtype, service agtype);"

cur.execute(pgt)
res=cur.fetchall()
print(type(res))

<class 'list'>

In [33]:
res[:1000]

[]

In [34]:
cur.close()
connection.close()